.landingMain {
    background-image: url("gym-background.jpg"), linear-gradient(rgb(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    background-blend-mode: overlay;
    height: 100%;
    flex-grow: 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.landingMain h1 {
    text-align: center;
    color: black;
    align-items: center;
    margin-top: 6rem;
    font-size: 3em;
}

.landingMain h3 {
    text-align: center;
    color: black;
    align-items: center;
    margin-top: 2rem;
    font-family: Caveat, cursive;
    font-weight: bold;
    font-size: 2rem;
}

.landingButtons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
}