.landingMain {
    background-image: url("gym-background.jpg"), linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background-blend-mode: multiply;
    height: 100%;
    flex-grow: 1;
    background-size: cover;
}

.landingMain h1 {
    text-align: center;
    color: white;
    align-items: center;
    margin-top: 6rem;
    font-size: 3em;
}

.landingMain h3 {
    text-align: center;
    color: white;
    align-items: center;
    margin-top: 2rem;
    font-family: Caveat, cursive;
    font-weight: 100;
    font-size: 2rem;
}

.landingButtons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
}