.exercise {
    background: #f4f4f4;
    margin: 20px 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.exercise h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise.completed  {
    background: rgb(47, 192, 47);
    opacity: .8;
  }

.exercise.completed h3 {
    text-decoration: line-through;
}

.exercise.completed h4, .exercise.completed h5 {
    visibility: hidden;
}